<div class="row">
  <div class="span10">
   <div class="thumbnail">
      <img src="http://cs319328.userapi.com/v319328549/4cf0/BVP7zneWSQg.jpg" >
    </div>
    <p>
	<%= link_to "Малышка, это еще не все", about_path, class: "btn btn-primary btn-large" %>
	</p>
  </div>
</div>

<!-- <div class="row">
  	<div class="span9 offset 7">
  	<h3>С днем всех влюбленных, Машуля</h3>
  	<img src="http://cs319328.userapi.com/v319328549/4cf0/BVP7zneWSQg.jpg">
    <button class="btn btn-primary">Читать</button>
    </div>
</div>
-->

