<div class="hero-unit">
<h1>Доброе утро, моя девочка :-*</h1>

<p>
Сегодня необычный день, день всех влюбленных, мы пока не говорим друг другу, что мы людим,
но я точно чувствую, что это любовь.
Сегодня я приготовил для тебя несколько подарков.
</p>
<p>
	<%= link_to "Интересно узнать, что дальше?", about_path, class: "btn btn-primary btn-large" %>
</p>
</div>
