<div class="footer">
	<small>
		<%= link_to "Это приложение написано с любовью, так как все мое обучение Ruby проходит с мыслями о моей девочке", "#" %>
		by <%= link_to "Твоя вторая половинка", "http://ligeo.ru" %>
	</small>
</div>